<div class="row my-4">
  <div class="col-md-12 mt-5">
    <h1>Editando descarte</h1>
  </div>
</div>

<%= render "form", discard: @discard %>
<div class="row bg-primary w-100">
  <%= link_to "Voltar para descartes", discards_path, class:"text-light" %>
</div>
