<div class="col-md-12 d-flex justify-content-center mt-5">
  <h1>Novo Descarte</h1>
</div>
<%= render "form", discard: @discard %>
<div class="col-md-12 d-flex justify-content-center mt-5">
  <%= link_to "Voltar para descartes", discards_path, class:"text-light" %>
</div>


