
<div class="col-md-12 d-flex justify-content-center mt-5">
<h1>Novo receptor</h1>
</div>


<%= render "form", receiver: @receiver %>
<div class="col-md-12 d-flex justify-content-center mt-5">
  <%= link_to "Voltar para receptores", receivers_path %>
</div>
