<% flash.each do |type, msg| %>
<div class="mx-5 my-5 alert alert-warning alert-dismissible fade show" role="alert">
  <%= msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
</div>
<% end %>